<!DOCTYPE html>
<html>
<head>
	<title>Pusher Python Realtime Dashboard</title>
</head>
<body>
	
	<form method="post" action="/tumblr">
		<h3>Enter the number of top domains you want to see</h3>
		<input type="text" name="days" placeholder="Enter the count here"><br>
		<input type="submit" name="Submit">
	</form>
	<form method="post" action="/reddit">
		<h3>Enter the number of top domains you want to see</h3>
		<input type="text" name="days" placeholder="Enter the count here"><br>
		<input type="submit" name="Submit">
	</form>

	<!-- <form method="post" action="/tumblr">
		<h3>Enter the number of top domains you want to see</h3>
		<input type="text" name="days" placeholder="Enter the count here"><br>
		<input type="submit" name="Submit">
	</form> -->

</body>
</html>